@font-face {
  font-family: 'AvenirNext';
  src: url('./fonts/AvenirNext-Medium.eot');
  src: url('./fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
  url('./fonts/AvenirNext-Medium.woff') format('woff'),
  url('./fonts/AvenirNext-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('./fonts/AvenirNext-Regular.eot');
  src: url('./fonts/./fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/AvenirNext-Regular.woff') format('woff'),
  url('./fonts/AvenirNext-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'AvenirNext';
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

h1{
  font-size: 36px;
  font-weight: 500;
}

h2{
  font-size: 24px;
}


@media (max-width: 320px) {
  .mlogo{
    width:50px !important;
  }

}

@media (min-width: 768px) {

  .mlogo{
    padding-bottom: 16px !important;
  }

  .button{
    margin-top:40px !important;
  }

  .backgroundTilt{
    -webkit-transform: skewY(-0.06rad) !important;
    transform: skewY(-0.06rad) !important;
  }

  .tiltedImage{
    -webkit-transform: skewY(-0.06rad) !important;
    transform: skewY(-0.06rad) !important;
  }

  .contentContainer{
    -webkit-transform: skewY(0.06rad) !important;
    transform: skewY(0.06rad) !important;
  }

  .navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .backgroundTilt{
    -webkit-transform: skewY(-0.05rad) !important;
    transform: skewY(-0.05rad) !important;
  }

  .tiltedImage{
    -webkit-transform: skewY(-0.05rad) !important;
    transform: skewY(-0.05rad) !important;
  }
  .contentContainer{
    -webkit-transform: skewY(0.05rad) !important;
    transform: skewY(0.05rad) !important;
  }
  #desktopContent{
    color: grey !important;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .backgroundTilt{
    -webkit-transform: skewY(-0.04rad) !important;
    transform: skewY(-0.04rad) !important;
  }

  .tiltedImage{
    -webkit-transform: skewY(-0.04rad) !important;
    transform: skewY(-0.04rad) !important;
  }

  .contentContainer{
    -webkit-transform: skewY(0.04rad) !important;
    transform: skewY(0.04rad) !important;
  }
}

/* unvisited link */
a:link {
  color: white;
  text-decoration:none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration:none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration:none;
}

/* selected link */
a:active {
  color: white;
  text-decoration:none;
}

.navbar-default{
  background-color:white !important;
  border-color:white !important;
  color:#FCC93E;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
 background-color:#FCC93E;
 color:white;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus{
  font-size: 18px;
  color:#FCC93E;
}

.navbar-default .navbar-nav>li>a:hover{
  color:#F68F20;
}

.navbar-toggle{
  border-color:#FCC93E !important;
}

.navbar-toggle:hover, .navbar-toggle:focus{
  background-color:#fff !important;
}

.collapsed .navbar-toggle{
  background-color:red !important;
}

.collapsed .icon-bar{
  background-color:#FCC93E !important;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color:#FCC93E;
}

.navbar-fixed-top{
  border-width: 0 0 0px;
}

.dropdown-menu>li>a {
  color:#F68E20;
}
.dropdown-menu>li>a:hover{
  color:#F68E20;
}

.tiltedImage{
  background: linear-gradient(to bottom, rgba(246, 142, 32, 0.3) 0%, rgba(246, 142, 32, 75) 95%, rgba(246, 142, 32, 1) 100%), url('http://i.imgur.com/EDGMOcG.jpg') no-repeat;
  height:200px;
  background-position: 50% 18%;
  background-size: cover;
  margin-bottom:-1px;
  -webkit-transform: skewY(-0.08rad);
  transform: skewY(-0.08rad);
}

.mlogo{
  margin-top:150px;
  padding-bottom:0px;
}

#question{
  font-weight: 500;
}

.button{
  /* Mask: */
  background-color:#FCC93E;
  border-radius: 6px;
  margin:0 auto;
  border-radius:6px;
  height:60px;
  width:150px;
  color:white;
  margin-top:20px;
  text-align:center;
}

.button h1{
  font-size:20px !important;
  line-height:58px;
  font-weight: 500;
}

.backgroundTilt{
  color:#F68F20;
  padding-top:100px;
  padding-bottom:100px;
  -webkit-transform: skewY(-0.08rad);
  transform: skewY(-0.08rad);
}

.coloredTilt1{
  background: linear-gradient(#FCC93E, #F68E20);
  color: white;
}

.coloredTilt2{
  background: linear-gradient(#F68E20, #FCC93E);
  color: white;
}

.contentContainer{
  -webkit-transform: skewY(0.08rad);
  transform: skewY(0.08rad);
  
}

.pageHeading{
  margin-bottom:-60px;
  text-align:center;
  color:#FCC93E;
  height:100vh;
  margin-top:-70px;
}

.pageHeading h1{
  margin-bottom:16px;
}

.pageHeading h3{
  font-weight:400;
  margin:12px 0 0 0;
}

.flexBoxer{
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  height:100vh;
  min-height:500px;
  width:100%;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
}

.headerRow{

}

.socialRow{
  width:100%;
  text-align:center !important;
  margin-top:-30px;
  margin-bottom:80px;
}

#socialIcon{
  margin-left:16px;
  margin-right:16px;
}